# Dependencies
node_modules/
venv/
.venv/
env/
*.log

# Large Dataset
AI/job_descriptions.csv
*.csv

# Documentation (To be removed from GitHub)
*.md
*.pdf
*.pptx
!README.md
!requirements.txt
!package.json

# Environment Variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db
